nav a {
  color: #3498db;
  text-decoration: none;
  margin-right: 1rem;
  font-weight: 500;
  cursor: pointer;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  font-weight: bold;
  color: #2c3e50;
}
