<section class="hero">
  <h1>RECADEP, reserva tu Cancha Rápido y Fácil.</h1>
  <img src="assets/cancha.jpg" alt="Cancha deportiva" />
</section>

<section class="quick-search">
  <h2>Consulta Rápida</h2>

  <app-reserva-validacion-form
    (onDisponibilidad)="onDisponibilidad($event)"
    (onDatosReserva)="onDatosReserva($event)"
  ></app-reserva-validacion-form>

  <div *ngIf="disponibilidad === true" class="disponible">✅ Horario disponible</div>
  <div *ngIf="disponibilidad === false" class="no-disponible">⚠️ Ya existe una reserva en ese horario</div>

  <button
    *ngIf="disponibilidad === true"
    (click)="iniciarReserva()"
    class="btn btn-primary"
  >
    Reservar
  </button>
</section>
